# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Terraform (will be used later)
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Ansible
*.retry

# Logs
*.log
